.zyy {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.body-back {
    background-color: black;
    color: white;
}
.body-backw {
    background-color: white;
}
.body-backww {
    padding: 20px;
}